
.social-links {
    background: #17252c;
    padding: 2rem 0 1rem;
    justify-content: space-around;
    
  }
  
  
  .social-links a {
    color: white;
    font-size: 1.2rem;
    justify-content: space-around;
  }
  
  .social-links i.fa {
    font-size: 1.4rem;
    padding-right: 0.8rem;
    padding-bottom: 1rem;
    justify-content: space-around;
  }
  
  @media screen and (max-width: 39.9375em) {
    .social-links {
      padding: 2rem 0;
    }
    .social-links i.fa {
      font-size: 2rem;
      display:inline-block;
      padding-right: 0;
      padding-bottom: 0.5rem;
      
    }
    .social-links a {
      font-weight: bold;
    }
    .social-links .columns {
      margin: 1rem 0;
    }
    .social-links .mobile-stack {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  .social-links{
    justify-content: space-around;
  }
  /* otra linea */
  
  
  